@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFA; /* Neutral 50 */
}
/* Custom scrollbar for minimalist feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
